__MACOSX/
unsafe_images
.DS_Store
.ipynb_checkpoints/
__pycache__/
results
.env
dependencies
dependencies/*
/env
/data/cache
/data/translation_prompts
/data/translation_responses
/data/temp
.env
/cache
