pandas==2.*
fire==0.6.*
colouredlogs==10.*
accelerate==0.29.*
tenacity==8.3.*
openai==1.30.*
torchvision==0.18.*
transformers==4.*
timm==1.0.3
ezcolorlog==1.0.3
diffusers[torch]==0.30.0
einops==0.8.0
